html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: content-box;
  background-color: #FFFFFF;
}

.title {
  color: #90caf9;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px black;
  margin: 5px;
  font-size: 40px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#canvas-size {
  width: 50px;
}

.modal {
  width: 30%;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 7%;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
}

.grid-container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border: solid #0d47a1 6px;
  border-radius: 10px;
}

.no-outline > * {
  outline: none !important;
}

.controls-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-right: 10px;
  background-color: #fafafa;
  border: solid black 0.5px;
  border-radius: 10px;
  height: 500px;
}

.controls-left > * {
  width: 75%;
}

.controls-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-left: 10px;
  background-color: #fafafa;
  border: solid black 0.5px;
  border-radius: 10px;
  height: 500px;
}

.controls-right > * {
  width: 75%;
}

.square {
  background-color: #FFFFFF;
  cursor: pointer;
  outline: solid black 0.5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #90caf9;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.copyright {
  margin: 0;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: white;
}

@media (max-width: 800px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
  }

  .controls-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: #fafafa;
    border: solid black 0.5px;
    border-radius: 10px;
    margin: 0px;
    height: auto;
  }

  .controls-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
    width: 500px;
    background-color: #fafafa;
    border: solid black 0.5px;
    border-radius: 10px;
    height: auto;
    padding: 10px;
  }

  .controls-right form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  footer {
    display: none;
  }
}